[submodule "sample-hexmix.nproject"]
	path = sample-hexmix.nproject
	url = https://github.com/nginetechnologies/sample-hexmix.nproject.git
[submodule "sample-block_breaker.nproject"]
	path = sample-block_breaker.nproject
	url = https://github.com/nginetechnologies/sample-block_breaker.nproject.git
[submodule "sample-solaris.nproject"]
	path = sample-solaris.nproject
	url = https://github.com/nginetechnologies/sample-solaris.nproject.git
[submodule "sample-stompem.nproject"]
	path = sample-stompem.nproject
	url = https://github.com/nginetechnologies/sample-stompem.nproject.git
[submodule "sample-alchemedes.nproject"]
	path = sample-alchemedes.nproject
	url = https://github.com/nginetechnologies/sample-alchemedes.nproject.git
[submodule "sample-dungeon-born.nproject"]
	path = sample-dungeon-born.nproject
	url = https://github.com/nginetechnologies/sample-dungeon-born.nproject.git
[submodule "sample-mindkraft.nproject"]
	path = sample-mindkraft.nproject
	url = https://github.com/nginetechnologies/sample-mindkraft.nproject.git
[submodule "sample-madball.nproject"]
	path = sample-madball.nproject
	url = https://github.com/nginetechnologies/sample-madball.nproject.git
[submodule "sample-rogue-mars.nproject"]
	path = sample-rogue-mars.nproject
	url = https://github.com/nginetechnologies/sample-rogue-mars.nproject.git
[submodule "sample-augmented-buzzy.nproject"]
	path = sample-augmented-buzzy.nproject
	url = https://github.com/nginetechnologies/sample-augmented-buzzy.nproject.git
[submodule "sample-quack-attack.nproject"]
	path = sample-quack-attack.nproject
	url = https://github.com/nginetechnologies/sample-quack-attack.nproject.git
[submodule "sample-formula.nproject"]
	path = sample-formula.nproject
	url = https://github.com/nginetechnologies/sample-formula.nproject.git
